footer {
    border-top: 1px solid #C9D6DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .wrapper {
    display: flex;
    align-items: center;
}

footer .all {
    margin-right: 20px;
}

footer .slash {
    color: #F9ED69;
    font-weight: bold;
    margin-right: 20px;
}

footer p {
    color: #F9ED69;
    font-size: 17px;
    font-weight: bold;
}